@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Oswald:wght@300&display=swap");

body {
  padding: 0 2%;
  margin: 0;
  font-family: "Noto Sans", "Arial Narrow", Arial, sans-serif;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
}

nav .profile {
  display: flex;
  align-items: center;
}

nav .profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

nav .profile h1 {
  font-size: 15px;
  margin-left: 10px;
}
nav .profile a {
  text-decoration: none;
  color: grey;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin-left: 20px;
  cursor: pointer;
  border-bottom: 1px white solid;
  color: black;
}
nav ul li:hover {
  border-bottom-color: black;
}
nav ul a {
  text-decoration: none;
}

.page-content {
  margin: 4%;
}

.page-content header {
  margin-top: 5%;
  max-width: 80%;
}

.page-content header h1 {
  margin: 0;
  text-transform: uppercase;
  font-family: "oswald", "sans-serif";
  font-size: 6vw;
}
.page-content header p {
  line-height: 30px;
  color: gray;
}

.page-content header button {
  background-color: inherit;
  border: none;
  outline: none;
  padding-left: 0;
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid grey;
  cursor: pointer;
}

.page-content header button:hover {
  opacity: 0.5;
  border-bottom-color: black;
}

.page-content .presentation-image {
  margin-top: 5%;
}
.page-content .presentation-image img {
  max-width: 100%;
  height: auto;
}
.page-content .projects-section {
  margin-top: 6%;
}

.page-content .projects-section h1 {
  font-family: "oswald", "sans-serif";
  text-transform: uppercase;
  font-size: 3vw;
}

.page-content .projects-section .projects {
  display: flex;
  flex-wrap: wrap;
}
.page-content .projects-section .projects .project {
  max-width: 195px;
  margin-right: 40px;
}

.page-content .projects-section .projects .project h4 {
  margin: 0;
}

.page-content .projects-section .projects .project .description {
  font-size: 10px;
}
.page-content .projects-section .projects .project .dates {
  color: gray;
  font-size: 13px;
}
footer {
  display: flex;
  justify-content: space-around;
  background-color: black;
  margin-top: 5%;
  flex-wrap: wrap;
  color: white;
  padding: 10px;
}
footer .colonne p {
  font-size: 15px;
  color: #ccc;
}

/* -----------------------------cv.html-------------------------------------- */

.cv-presentation {
  height: auto;
  text-align: center;
  margin: 0 5%;
}

.cv-presentation .cv-image iframe {
  width: 100%;
  height: 800px;
}

/* -----------------------------github.html-------------------------------------- */

.github-presentation {
  border: 1px solid black;
  margin-top: 5%;
}
.github-presentation .lien-github {
  display: flex;
  justify-content: space-around;
  border: red 1px solid;
}
.github-presentation .contenu-github {
  font-size: 15px;
  font-family: "Noto Sans", "Arial Narrow", Arial, sans-serif;
}
.btn-github {
  border-radius: 15px;
  border: none;
  background: black;
  width: 110px;
  height: 50px;
  margin-top: 40px;
  border: yellow 3px solid;
}
.btn-github a {
  text-decoration: none;
}
.btn-github p {
  color: white;
  font-size: 15px;
  font-family: "Noto Sans", "Arial Narrow", Arial, sans-serif;
}

/* -----------------------------projets.html-------------------------------------- */
.presentation-projets {
  margin-top: 4%;
}
.titre-projets {
  text-align: center;
}
.exemple-projets {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.exemple-projets .card {
  background-color: RGBA(162, 142, 144, 0.4);
  border: solid 2px brown;
  border-radius: 10px;
  padding: 15px;
}
.exemple-projets .card p {
  font-family: "oswald", "sans-serif";
  font-size: 24px;
}
.exemple-projets .card img {
  border-radius: 10px;
}
/* -----------------------------responsive-------------------------------------- */

@media screen and (max-width: 700px) {
  nav {
    justify-content: center;
  }
  nav ul {
    display: none;
  }
  .page-content header {
    margin-top: 10%;
    max-width: 100%;
  }
  .page-content .projects-section {
    margin-top: 15%;
  }
  .page-content .projects-section h1 {
    font-size: 1.5em;
  }
  .page-content .projects-section .projects .project {
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 100%;
  }
  footer {
    justify-content: flex-start;
  }
  footer .colonne {
    width: 80%;
  }
}
